.shortDescriptionWrapper{
    padding:40px;
    .shortDescription{
        font-family: "Montserrat";
        h1{
            font-size: 25px;
            line-height: 30px;
            text-align:left;
        }
        h2{
            font-size: 20px;
            text-align:left;
        }
    }
}
.social{
    width:100%;
    overflow:hidden;
}
.social,.social_block{
    height:65px;
    line-height:65px;   
}
.social_block{
    float: left;
    text-align: center;

    i{
        vertical-align: middle;
        color:#fff;
        font-size:20px
    }
}
.facebook{
    background-color:#3b5998
}
.website{
    background-color:#111
}
.linkin{
    background-color:#007bb6
}
.github{
    background-color:#666
}
.gplus{
    background-color:#dd4b39
}
.twitter{
    background-color:#00aced
}

.back{
    font-family: "Montserrat";
    color:#fff;
    h1,h2{
    display:inline;
    padding-bottom:0px
    }
    h1{
      padding-right:10px
    }
    .absolute-b20{
        position:absolute;
        bottom:30px;
        width:100%
    }
}
