 <div class="archyHeader" style="overflow:hidden">
    <div class="background_that_fades">
    </div>
    <div class="archyHeadMid">
    <div class="robotHead">
    <img class="robotImage tobeScaledUp" src="imaginary/hackidemia.png">
    </div>
    <div>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <div class="quoteAtHead tobeSprangOut SprangOutAfterLoad">
    Hey there. Looks like this is your first time<br> 
    using HacKIDemia-event-page by Archy Wilhes.
    </div>
    </div>
    </div>
    </div>
</div>
<div class="archySession yellowStyle">
    <div class="archySessionLayer">
    </div>
    <div class="archySessionTitle tobeScaledUp single">
    <span> <img src="imaginary/planet.png"> </span>
    <span>Initalizing</span>
    </div>
    <span class="triggerScaledUp single"> </span>
</div>
<div class="archySessionWhite wordsWordsWords">
    <div>
    <h1>
    Why not tell me more about<br> your team before we start?
    </h1>
    <h2>
    Country: <input >
    <br>
    Country Abbreviation:
    <br>
    Facebook page:
    <br>
    Contact email:
    </h2>
    </div>
</div>

