<div class="archyHeader" style="overflow:hidden">
	<div class="background_that_fades">
	</div>

	<div class="archyTop">
	<div class="ab-left">
	<span>Visit HacKIDemia Global</span>
	</div>
	<div class="ab-right">
	<span>workshops/events</span>
	<span>about</span>
	<span>blog</span>
	<span><img src="imaginary/facebook.png"> <img src="imaginary/twitter_bird.png"></span>
	</div>
	</div>

	<div class="archyHeadMid">
	<div class="robotHead">
	<img class="robotImage tobeScaledUp" src="imaginary/hackidemia.png">
	</div>
	<div>
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>
	<div class="quoteAtHead tobeSprangOut">
	“Tell me and I forget. Teach me and I remember.<br> 
	Involve me and I learn.”  - Benjamine Franklin
	</div>
	</div>
	</div>
	</div>

</div>

<div class="archySession redStyle">
	<div class="archySessionLayer">
	</div>
	<div class="archySessionTitle tobeScaledUp single">
	<span> <img src="imaginary/ufo.png"> </span>
	<span>upcoming workshops/events </span>
	</div>
	<span class="triggerScaledUp single"> </span>
</div>
<div class="archySessionWhite tobeSprangOutGroup">
	<div class="archyEvents">
	<div class="over-hidden">
	{{#make 3}}
	<div class="threeIn1">
		<div class="archyEventWrapper">
		<div class="archyEvent event{{this}}">
			<div class="date date{{this}}">
			<div class="tobeSprangOut">
			<div class="day">
			20
			</div>
			<div class="month">
			FEB
			</div>
			</div>
			</div>
			<div class="detailsContainer {{#equal this 1 }}triggerSprangOutGroup{{/equal}}">
				<div class="details">
				<div class="front">
				</div>
				<div class="back">
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	{{/make}}
	</div>
	</div>
</div>
<div class="archySession yellowStyle">
	<div class="archySessionLayer">
	</div>
	<div class="archySessionTitle tobeScaledUp single">
	<span> <img src="imaginary/planet.png"> </span>
	<span>about HacKIDemia </span>
	</div>
	<span class="triggerScaledUp single"> </span>
</div>
<div class="archySessionWhite wordsWordsWords">
	<div class="tobeSprangOut single">
	<h1>
	Technology is advancing <br> at an exponential rate.
	</h1>
	<h2>
	HacKIDemia is a non-profit organization that encourages, inspires and guides <br>the next generations of young people to change the world with technology.
	</h2>
	<h3>
	<a href="http://hackidemia.com">check out HacKIDemia's main website</a>
	<div class="triggerSprangOut single"> </div>
	</h3>
	</div>
</div>
<div class="archySession orangeStyle">
	<div class="archySessionLayer">
	</div>
	<div class="archySessionTitle tobeScaledUp single">
	<span> <img src="imaginary/astronaut.png"> </span>
	<span>about the SG team </span>
	</div><span class="triggerScaledUp single"> </span>
</div>
<div class="archySessionWhite wordsWordsWords">
	<div class="tobeSprangOut single">
	<h1>
	The Maker Movement is important<br>to Singapore's future.
	</h1>
	<h2>
	Our mission is to teach and inspire young people in Singapore to<br> hack their way through life & build things of their imagination.
	<div class="triggerSprangOut single"> </div>
	</h2>
	</h2>
	</div>
</div>
<div class="archySessionDark">
	<div class="people">
		<div class="person">
		<div class="imgWrap">
		<img src="imaginary/a.jpg">
		</div>
		<div class="info">Martin Ekluen
			<div class="dividerL"></div><div class="dividerR"></div>
		</div>
		</div>
		<div class="person">
		<div class="imgWrap">
		<img src="imaginary/b.jpg">
		</div>
		<div class="info">Melvin Zhang Ph.D.
			<div class="dividerL"></div><div class="dividerR"></div>
		</div>
		</div>
		<div class="person">
		<div class="imgWrap">
		<img src="imaginary/roland.jpg">
		</div>
		<div class="info">Roland Turner
			<div class="dividerL"></div><div class="dividerR"></div>
		</div>
		</div>
		<div class="person">
		<div class="imgWrap">
		<img src="imaginary/michal.jpg">
		</div>
		<div class="info">Michał Gajda
			<div class="dividerL"></div><div class="dividerR"></div>
		</div>
		</div>
	</div>
</div>
<div class="joinTheTeam wordsWordsWords">
<div class="tobeSprangOut single">
<h1>Want to be part of the team?</h1>
<h2>
Awesome! We are looking for more mentors & organisers too.
</h2>
<a href="/">
<h4>
<div class="joinTheTeamButtonBackground"></div>
<div>
Join us now and let's make a difference in<br>
the curent education in SIngapore!<div class="triggerSprangOut single"> </div>
</div>
</h4>
</a>
</div>
</div>
<div class="archySession redderStyle archyFooter">
	<div class="archySessionLayer">
	</div>
	<div class="archySessionTitle">
	<div class="archyFooter">
	<div class="inline-block margin-right-80">
	<p>Contact us at<br>sg@hackidemia.com</p>

	</div>
	<div class="text-right inline-block"><p>SG.hacKIDemia.com is proudly<br>handcrafted by <a href="https://github.com/0a-">Archy</a> with love.</p><a href="https://github.com/0a-/hackidemia-singapore">View the source code on Github</a>. 
	</div>
	</div>
	</div>
</div>